<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>药品详情</title>
    <link rel="stylesheet" href="/layui/css/layui.css">
    <style>
        .layui-colla-content div {
            margin: 0 80px 10px 20px;
            float: left;
        }
        .layui-colla-content div span {
            float: left;
        }
    </style>
</head>

<body>
<fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
    <legend></legend>
</fieldset>
<div class="layui-collapse" lay-filter="test">
    <div class="layui-colla-item">
        <h2 class="layui-colla-title"><span th:text="${med.getMedName()}">盐酸米诺环素软膏</span></h2>
        <div class="layui-colla-content" style="overflow: hidden;">
            <div>
                <span>药品编号：</span><span th:text="${med.getMedicineId()}">001</span>
            </div>
            <div>
                <span>药品类型：</span><span th:text="${med.getMedType()}">外用处方药</span>
            </div>
            <div>
                <span>成分：</span><span th:text="${med.getIngredient()}">本品主要成分为7-二甲胺四环素（C23H27N3O7·HCl·2H2O）。</span>
            </div>
            <div>
                <span>性状：</span><span th:text="${med.getMedCharacter()}">性状</span>
            </div>
            <div>
                <span>功能主治：</span><span th:text="${med.getMajorFunction()}">本品用于改善对本品具有药敏性的牙龈卟啉菌、中间型普氏菌、产黑色素普氏菌、腐蚀埃肯菌、核梭杆菌、伴放线放线杆菌所致牙周炎（慢性边缘性牙周炎）的各种症状。</span>
            </div>
            <div>
                <span>用法用量：</span><span th:text="${med.getUseMethod()}">洁治或龈下刮治后，将软膏注满患部牙周袋内，每周一次，连续用四次，效果最好。本品为一次性用品。</span>
            </div>
            <div>
                <span>不良反应：</span><span th:text="${med.getUnEffect()}">调查了使用本药的227颗牙齿中有4颗牙认为有局部刺激，都是在牙周袋内注射后即刻出现的，随即消失属于一过性的。在使用本药病例中，经一般血液检查的148例中，均未发现异常现象。</span>
            </div>
            <div>
                <span>禁忌：</span><span th:text="${med.getTaboo()}">对四环素类抗生素有过敏史的患者。</span>
            </div>
            <div>
                <span>注意事项：</span><span th:text="${med.getNotice()}">注意事项</span>
            </div>
            <div>
                <span>贮藏：</span><span th:text="${med.getStore()}">阴凉避光处保管（2-15℃）。</span>
            </div>
        </div>
    </div>
</div>
<div style="padding: 20px; background-color: #F2F2F2;">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-header">药品批次信息</div>
                <div id="bingli" class="layui-card-body" style="overflow: hidden;">
                    <table class="layui-hide" id="MedMList" lay-filter="MedMList"></table>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-xs" lay-event="edit">修改</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>
<script src="/layui/layui.js"></script>
<script th:inline="javascript">
    var medicineId = [[${med.getMedicineId()}]]
    layui.use(['element','layer','table'], function () {
        var element = layui.element;
        var layer = layui.layer;
        var $ = layui.jquery;
        var table = layui.table;
        //监听折叠
        element.on('collapse(test)', function (data) {
            layer.msg('展开状态：' + data.show);
        });
        console.log(medicineId);
        table.render({
            elem: '#MedMList'   //渲染目标
            ,url:'/medm/findByMedId?medicineId='+medicineId  // 路径默认从static下开始，而且是绝对路径，数据接口;非前后端分离可以直接写Handler中的接口名，不必写：http://localhost:8082
            // ,data: cusList
            ,title: '药品批次表' //数据导出标题
            ,cols: [
                [
                    { field: 'produceNum', title: '产品批号', width: 140, fixed: 'left', unresize: true, sort: true }
                    , { field: 'specification', title: '规格', width: 100, edit: 'text'}
                    , { field: 'wrap', title: '包装', width: 100, edit: 'text'}
                    , { field: 'produceDate', title: '生产日期', width: 100, edit: 'text'}
                    , { field: 'expirationDate', title: '保质期', width: 100, edit: 'text'}
                    , { field: 'medAddress', title: '生产地址', width: 100, edit: 'text'}
                    , { field: 'medFactory', title: '生产厂家', width:100, edit: 'text'}
                    , { field: 'medNumber', title: '当前库存量', width: 100, edit: 'text'}
                    , { field: 'medTime', title: '当前时间', width:100}
                    , { field: 'cost', title: '成本', width:80, edit: 'text'}
                    , { field: 'price', title: '单价', width:80, edit: 'text'}
                    , { fixed: 'right', title: '操作', toolbar: '#barDemo', width: 120}
                ]
            ]
        });
        table.on('tool(MedMList)', function(obj){
            var data = obj.data;
            if(obj.event === 'del'){
                layer.confirm('真的删除行么', function(index){
                    obj.del();
                    $.ajax({
                        type: 'get',
                        url: '/medm/deleteByProId?produceNum='+data.produceNum,
                        success: function (result) {
                            console.log('批次删除结果：' + result);
                        },
                        error: function (e) {
                            console.log('error代码' + e.status);
                            console.log('error内容' + e.responseText);
                        }
                    });
                    location.reload();
                });
            } else if(obj.event === 'edit'){
                $.ajax({
                    type: 'post',
                    url: '/medm/updateMedM',
                    contentType: 'application/json;charset=UTF-8',
                    data: JSON.stringify(data),
                    success: function (result) {
                        layer.msg('批次修改结果：'+ result);
                        // 界面已修改，不必要刷新
                        // location.reload();
                    },
                    error: function (e) {
                        console.log('error代码' + e.status);
                        console.log('error内容' + e.responseText);
                    }
                });
            }
        });
    });
</script>
</body>

</html>