<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>医生基本信息列表</title>
    <link rel="stylesheet" href="/layui/css/layui.css" />
</head>
<body>
<div class="demoTable" style="margin: 20px 0 0 20px">
    搜索ID：
    <div class="layui-inline">
        <input class="layui-input" name="id" id="selectById" autocomplete="off">
    </div>
    <button class="layui-btn" id="IDss">搜索</button>
    <span style="margin: 0 0 0 20px">搜索姓名：</span>
    <div class="layui-inline">
        <input class="layui-input" name="id" id="selectByName" autocomplete="off">
    </div>
    <button class="layui-btn" id="Namess">搜索</button>
</div>

<table class="layui-hide" id="test" lay-filter="test"></table>
<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>
<script src="/layui/layui.js"></script>
<script th:inline="javascript">
    layui.use(['table','layer'], function(){
        var table = layui.table;
        var layer = layui.layer;
        var $ = layui.jquery;
        table.render({
            elem: '#test'   //渲染目标
            ,url:'/doctor/adminFindAllDoc'  // 路径默认从static下开始，而且是绝对路径，数据接口;非前后端分离可以直接写Handler中的接口名，不必写：http://localhost:8082
            ,id: 'docTableReload'
            ,title: '用户数据表' //数据导出标题
            ,page: true    //是否开启分页功能
            ,cols: [
                [
                    { field: 'docId', title: 'ID', width: 150, fixed: 'left', unresize: true, sort: true }
                    , { field: 'docName', title: '姓名', width:100}
                    , { field: 'docSex', title: '性别', width:60}
                    , { field: 'docAge', title: '年龄', width:60}
                    , { field: 'cid', title: '证件', width: 180}
                    , { field: 'docSex', title: '性别'}
                    , { field: 'nation', title: '民族'}
                    , { field: 'workYear', title: '工作年限', width:100}
                    , { field: 'politicStatus', title: '政治面貌', width: 100}
                    , { field: 'docTitle', title: '职称', width: 100 }
                    , { field: 'education', title: '学历'}
                    , { field: 'docIntroduce', title: '个人简介', width: 310 }
                    , { fixed: 'right', title: '操作', toolbar: '#barDemo', width: 120 }
                ]
            ]
        });

        // ID搜索按钮触发事件
        $('#IDss').click(function () {
            var docId = $('#selectById').val();
            // console.log(customerId);
            table.reload('docTableReload',{
                url: '/doctor/adminFindById?docId='+docId,
                method: 'get'
            });
        });
        // Name搜索按钮触发事件
        $('#Namess').click(function () {
            var docName = $('#selectByName').val();
            // console.log(customerName);
            table.reload('docTableReload',{
                url: '/doctor/adminFindByName?docName='+docName,
                method: 'get'
            });
        });

        //监听行工具事件
        table.on('tool(test)', function(obj){
            //obj.data包含该行表格的所有数据（是个对象）
            var data = obj.data;
            console.log(obj);
            if(obj.event === 'del'){
                layer.confirm('真的删除该医生信息么', function(index){
                    obj.del();
                    $.ajax({
                        type: 'get',
                        url: '/doctor/delByDocId?docId='+data.docId,
                        success: function (result) {
                            console.log('删除结果：' + result);
                        },
                        error: function (e) {
                            console.log('error代码' + e.status);
                            console.log('error内容' + e.responseText);
                        }
                    });
                    layer.close(index);
                });
            } else if(obj.event === 'edit'){
                layer.open({
                    id: 'save-form',
                    title: '编辑医生',
                    type: 2,    //layer提供了5种层类型。可传入的值有：0（信息框，默认）1（页面层）2（iframe层）3（加载层）4（tips层）
                    content: '/doctor/toDocEdit?docId='+data.docId,
                    area: ['800px', '560px'],
                    btn: ['提交','重置'],
                    yes: function (index) {
                        var frameId=document.getElementById('save-form').getElementsByTagName("iframe")[0].id;
                        $('#'+frameId)[0].contentWindow.mySubmit();
                        /*layer.close(index);
                        location.reload();*/
                    },
                    //重置按钮事件
                    btn2: function(index, layero){
                        var frameId=document.getElementById('save-form').getElementsByTagName("iframe")[0].id;
                        $('#'+frameId)[0].contentWindow.reset();
                        return false;
                    },
                    //右上角关闭按钮事件
                    cancel: function(index, layero){
                        layer.close(index);
                        location.reload();
                        return false;
                    }
                })
            }
        });
    });
</script>
</body>
</html>