<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>医生修改界面</title>
    <link rel="stylesheet" href="/layui/css/layui.css">
</head>

<body>
<div style="margin: 0 50px 0 50px;">
    <fieldset class="layui-elem-field layui-field-title" style="margin-top: 50px;">
        <legend>医生信息修改</legend>
    </fieldset>
    <form class="layui-form layui-form-pane" action="">
        <input type="text" name="docId" th:value="${doctor.getDocId()}" style="display: none">
        <div class="layui-form-item">
            <label class="layui-form-label">姓名</label>
            <div class="layui-input-inline">
                <input type="text" name="docName" th:value="${doctor.getDocName()}" placeholder="请输入" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">证件号</label>
            <div class="layui-input-inline">
                <input type="text" name="cid" th:value="${doctor.getCid()}" placeholder="请输入" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">性别</label>
            <div class="layui-input-block">
                <input type="radio" name="docSex" lay-filter="sex" value="男" title="男" checked="">
                <input type="radio" name="docSex" lay-filter="sex" value="女" title="女">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">年龄</label>
            <div class="layui-input-inline">
                <input type="text" name="docAge" th:value="${doctor.getDocAge()}" placeholder="请输入" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">民族</label>
            <div class="layui-input-inline">
                <input type="text" name="nation" th:value="${doctor.getNation()}" placeholder="请输入" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">工作年限</label>
            <div class="layui-input-inline">
                <input type="text" name="workYear" th:value="${doctor.getWorkYear()}" placeholder="请输入" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">政治面貌</label>
            <div class="layui-input-inline">
                <input type="text" name="politicStatus" th:value="${doctor.getPoliticStatus()}" placeholder="请输入" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">工作类型</label>
            <div class="layui-input-block">
                <input type="radio" name="workKind" lay-filter="workKind" value="1" title="护理类">
                <input type="radio" name="workKind" lay-filter="workKind" value="2" title="医疗类" checked="">
                <input type="radio" name="workKind" lay-filter="workKind" value="3" title="技师类">
                <input type="radio" name="workKind" lay-filter="workKind" value="4" title="药师类">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">职称</label>
            <div class="layui-input-inline">
                <select name='docTitle' id="docTitle" lay-verify="required">
                    <option value=""></option>
                    <option value="医士">医士</option>
                    <option value="医师">医师</option>
                    <option value="主治医师">主治医师</option>
                    <option value="副主任医师">副主任医师</option>
                    <option value="主任医师">主任医师</option>
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">学历</label>
            <div class="layui-input-inline">
                <select name="education" lay-verify="required">
                    <option value=""></option>
                    <option value="大专">大专</option>
                    <option value="本科">本科</option>
                    <option value="硕士">硕士</option>
                    <option value="博士">博士</option>
                </select>
            </div>
        </div>
        <div class="layui-form-item layui-form-text layui-col-md6">
            <label class="layui-form-label">个人简介</label>
            <div class="layui-input-block">
                <textarea name="docIntroduce" th:text="${doctor.getDocIntroduce()}" placeholder="请输入内容" class="layui-textarea"></textarea>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block" style="display: none">
                <button id="edit" class="layui-btn" lay-submit lay-filter="docAdd">添加</button>
                <button id="reset" type="reset" class="layui-btn layui-btn-primary">重置</button>
            </div>
        </div>
    </form>
</div>
<script src="/layui/layui.js"></script>
<script th:inline="javascript">
    layui.use('form', function () {
        var form = layui.form
            , layer = layui.layer
            , $ = layui.jquery;
        // layui动态修改下拉框内容
        form.on("radio(workKind)", function (data) {
            // console.log(this.value);
            if (this.value == '1') {
                $('#docTitle').empty();
                $('#docTitle').append('<option value=""></option>');
                $('#docTitle').append('<option value="护士">护士</option>');
                $('#docTitle').append('<option value="护师">护师</option>');
                $('#docTitle').append('<option value="主管护师">主管护师</option>');
                $('#docTitle').append('<option value="副主任护师">副主任护师</option>');
                $('#docTitle').append('<option value="主任护师">主任护师</option>');
                form.render('select');
            } else if (this.value == '2') {
                $('#docTitle').empty();
                $('#docTitle').append('<option value=""></option>');
                $('#docTitle').append('<option value="医士">医士</option>');
                $('#docTitle').append('<option value="医师">医师</option>');
                $('#docTitle').append('<option value="主治医师">主治医师</option>');
                $('#docTitle').append('<option value="副主任医师">副主任医师</option>');
                $('#docTitle').append('<option value="主任医师">主任医师</option>');
                form.render('select');
            } else if (this.value == '3') {
                $('#docTitle').empty();
                $('#docTitle').append('<option value=""></option>');
                $('#docTitle').append('<option value="技师">技师</option>');
                $('#docTitle').append('<option value="主管技师">主管技师</option>');
                $('#docTitle').append('<option value="副主任技师">副主任技师</option>');
                $('#docTitle').append('<option value="主任技师">主任技师</option>');
                form.render('select');
            } else if (this.value == '4') {
                $('#docTitle').empty();
                $('#docTitle').append('<option value=""></option>');
                $('#docTitle').append('<option value="药师">药师</option>');
                $('#docTitle').append('<option value="主管药师">主管药师</option>');
                $('#docTitle').append('<option value="副主任药师">副主任药师</option>');
                $('#docTitle').append('<option value="主任药师">主任药师</option>');
                form.render('select');
            }
        });
        //监听提交
        form.on('submit(docAdd)', function (data) {
            var doctor = JSON.stringify(data.field);
            console.log(doctor);
            $.ajax({
                type: 'post',
                contentType: 'application/json;charset=UTF-8',
                url: '/doctor/updateDoc',
                data: doctor,
                success: function (result) {
                    layer.msg('修改结果：' + result);
                },
                error: function (e) {
                    console.log(e.status);
                    console.log(e.responseText);
                }
            });
            return false;
        });
    });
    function mySubmit() {
        document.getElementById('edit').click();
    }
    function reset() {
        document.getElementById('reset').click();
    }
</script>
</body>
</html>