<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<title>客户登录主界面</title>
	<!--时间线样式-->
	<link rel="stylesheet" href="/css/style.css">
	<link rel="stylesheet" href="/layui/css/layui.css">
	<link rel="stylesheet" type="text/css" href="/css/cus_wel.css"/>
	<link rel="stylesheet" type="text/css" href="/css/cus_chat.css">
</head>
<body>
	<!--聊天界面-->
	<div class="dialogue-wrapper">
		<div id="btn_open" class="dialogue-support-btn">
			<i class="dialogue-support-icon"></i>
			<i class="dialogue-support-line"></i>
			<span class="dialogue-support-text">联系客服</span>
		</div>
		<div class="dialogue-main">
			<div class="dialogue-header">
				<i id="btn_close" class="dialogue-close">×</i>
				<div class="dialogue-service-info">
					<i class="dialogue-service-img">头像</i>
					<div class="dialogue-service-title">
						<p class="dialogue-service-name">咨询客服</p>
						<p class="dialogue-service-detail">私人牙医客服支持平台</p>
					</div>
				</div>
			</div>
			<!-- 消息记录部分 -->
			<div id="dialogue_contain" class="dialogue-contain">
				<!--<p class="dialogue-service-contain"><span class="dialogue-text dialogue-service-text">私人牙医欢迎您咨询！</span></p>-->
				<!-- <p class="dialogue-customer-contain"><span class="dialogue-text dialogue-customer-text">我有个问题</span></p> -->
			</div>
			<!-- 内容编辑并发送部分 -->
			<div class="dialogue-submit">
				<p id="dialogue_hint" class="dialogue-hint"><span class="dialogue-hint-icon">!</span><span class="dialogue-hint-text">发送内容不能为空</span></p>
				<textarea id="dialogue_input" class="dialogue-input-text" placeholder="请输入您的问题，按Enter键提交（shift+Enter换行）"></textarea>
				<!--<div class="dialogue-input-tools">
					发送
				</div>-->
			</div>
		</div>
	</div>
	<!-- header开始 -->
	<div class="head">
		<div class="head-logo">
			<a href="/login/toUserLogin">
				<img src="/img/logo.webp" alt="">
			</a>
		</div>
		<div class="head-nav">
			<ul class="aha">
				<li><a href="#">首页 HOME</a></li>
				<li><a href="/user/toDocList">医生介绍 TEAM</a></li>
				<li><a href="/user/toNewsList">新闻资讯 NEWS</a></li>
				<li><a href="#about">关于我们 ABOU</a></li>
				<li><a href="#contact" rel="nofollow">联系我们 CONTACT</a></li>
			</ul>
		</div>
		<div class="head-num">
			<img src="/img/phone.png" alt="">
			<span>400-8888-8888</span>
		</div>
	</div>
	<div class="cus-body">
		<div class="box1">
			<div class="title-box">
				<div class="title">
					<img src="/img/logo1.webp" alt="">
				</div>				
			</div>
		</div>
		<div class="box2">
			<div class="content-box">
				<div class="title-box">
					<div class="title-name">
						<span>医生团队</span><br>
						<span style="font-size: 12px; color:#333333;font-weight:100;">TEAM</span>
					</div>
					<div class="more">
						<a href="/user/toDocList">查看更多——></a>
					</div>
				</div>
				<div class="content">
					<div class="doc" th:each="doc:${docList}">
						<div>
							<img th:src="${doc.getDocId()}" alt="医生图片">
						</div>
						<div class="detail"><p th:text="${doc.getDocName()}">主治医师：张富贵</p></div>
					</div>
				</div>
			</div>
		</div>
		<div class="box3">
			<div class="content-box">
				<div class="title-box">
					<div class="title-name">
						<span>医疗资讯</span><br>
						<span style="font-size: 12px; color: white; font-weight: 100;">NEWS</span>
					</div>
					<div class="more">
						<a href="/user/toNewsList">查看更多——></a>
					</div>
				</div>
				<div class="content">
					<div class="container">
						<div class="timeline-item" th:each="news:${newsList}" th:attr="date-is=${news.getNewsTime()}">
							<a style="color: #000000" th:href="@{'/user/toNews?newsId='+${news.getNewsId()}}">
								<h1 th:text="${news.getHeadLine()}">新闻标题</h1>
							</a>
							<p th:text="${news.getGeneral()}">
								新闻概要
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- 关于我们板块 -->
		<div class="box5" id="about">
			<div class="content-box">
				<div class="title-box">
					<div class="title-name">
						<span>关于我们</span><br>
						<span style="font-size: 12px; color: #333333; font-weight: 100;">ABOUT</span>
					</div>
				</div>
				<div class="content">
					<div class="detail">
						<p>
							<span>私人牙医</span>牙科诊所自创建伊始就非常注重就诊环境的舒适，致力于在轻松愉快的氛围
							为您提供优质人性的服务。宽敞明亮又极具现代化气息的候诊大堂、传统古典式家具的装修风格、舒
							缓的背景音乐 能让您得到全身心的放松。专为儿童设立的娱乐天地，VIP候诊专区，独立咨询室，以
							及专享停车位，充分体现了京典口腔的细节服务和人文关怀。十间宽敞独立的诊间为您营造幽雅、私
							密的诊疗环境，会所式的管理为您提供温馨友好的关怀，京典口腔每一位员工共同努力为您打造舒适、
							贴心的精致化医疗服务。
							一路走来，始终如一。提供高品质的牙科保健服务，为您打造健康的口腔，塑造阳光般灿烂的笑容，
							成就您辉煌的事业人生，是京典口腔一直以来的追求和理想。世间本没有完美，但我们要始终追求完
							美。秉持这一服务理念，我们用心接待每一位客人……
							期待您的到来！
						</p>
					</div>
					<div class="photo">
						<img src="/img/back1.webp" alt="关于我们展示图">
					</div>
				</div>
			</div>
		</div>
		<div class="box4" id="contact">
			<div class="content-box">
				<div class="title-box">
					<div class="title-name">
						<span>联系我们</span><br>
						<span style="font-size: 12px; color: #333333; font-weight: 100;">Content Us</span>
					</div>
					<!-- <div class="more">
						<a href="#">查看更多——></a>
					</div> -->
				</div>
				<div class="content">
					<div class="mess">
						<div class="tit">
							<span>私人牙医-牙科诊所</span>
						</div>
						<p>
							地址：苏州市金鸡湖大道00号<br>
							邮编：200000<br>
							电话：400-8000-8000<br>
							手机：133-0000-0000<br>
							邮箱：info@email.com
						</p>
					</div>
					<div class="forms">
						<form action="" class="layui-form layui-form-pane">
							<input type="text" name="name" lay-verify="required" placeholder="姓名*">
							<input type="text" name="phone" lay-verify="required" placeholder="电话*"><br>
							<input type="text" name="address" lay-verify="required" placeholder="地址*">
							<input type="text" name="email" lay-verify="email" placeholder="邮箱*"><br>
							<textarea rows="" name="content" cols="" placeholder="详情*"></textarea><br>
							<button lay-submit lay-filter="connectUs">发送</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script src="/layui/layui.all.js"></script>
	<script th:inline="javascript">
		var form = layui.form;
		var $ = layui.jquery;
		var doc = document;
		var websocket = null;
		var message = {type:0,toUser:'',fromUser:'',msg:''};
		var dialogueInput = doc.getElementById('dialogue_input'),
				// 消息记录区
				dialogueContain = doc.getElementById('dialogue_contain'),
				// 发送提示
				dialogueHint = doc.getElementById('dialogue_hint'),
				// 点击缩略区
				btnOpen = doc.getElementById('btn_open'),
				//点击关闭按钮
				btnClose = doc.getElementById('btn_close'),
				timer,
				timerId,
				shiftKeyOn = false;  // 辅助判断shift键是否按住

		btnOpen.addEventListener('click', function(e) {
			$('.dialogue-support-btn').css({'display': 'none'});
			$('.dialogue-main').css({'display': 'inline-block', 'height': '0','z-index': '200'});
			$('.dialogue-main').animate({'height': '600px'});
			conectWebSocket();
		})

		btnClose.addEventListener('click', function(e) {
			$('.dialogue-main').animate({'height': '0'}, function() {
				$('.dialogue-main').css({'display': 'none'});
				$('.dialogue-support-btn').css({'display': 'inline-block'});
			});
			closeWebSocket();
		})

		dialogueInput.addEventListener('keydown', function(e) {
			var e = e || window.event;
			if (e.keyCode == 16) {
				shiftKeyOn = true;
			}
			if (shiftKeyOn) {
				return true;
			} else if (e.keyCode == 13 && dialogueInput.value == '') {
				// console.log('发送内容不能为空');
				// 多次触发只执行最后一次渐隐
				setTimeout(function() {
					fadeIn(dialogueHint);
					clearTimeout(timerId)
					timer = setTimeout(function() {
						fadeOut(dialogueHint)
					}, 2000);
				}, 10);
				timerId = timer;
				return true;
			} else if (e.keyCode == 13) {
				var nodeP = doc.createElement('p'),
						nodeSpan = doc.createElement('span');
				message.msg = dialogueInput.value;
				nodeP.classList.add('dialogue-customer-contain');
				nodeSpan.classList.add('dialogue-text', 'dialogue-customer-text');
				nodeSpan.innerHTML = dialogueInput.value;
				nodeP.appendChild(nodeSpan);
				dialogueContain.appendChild(nodeP);
				dialogueContain.scrollTop = dialogueContain.scrollHeight;
				websocket.send(JSON.stringify(message));
			}
		});

		dialogueInput.addEventListener('keyup', function(e) {
			var e = e || window.event;
			if (e.keyCode == 16) {
				shiftKeyOn = false;
				return true;
			}
			if (!shiftKeyOn && e.keyCode == 13) {
				dialogueInput.value = null;
			}
		});
		//监听提交
		form.on('submit(connectUs)', function (data) {
			var connectUs = JSON.stringify(data.field);
			console.log(connectUs);
			$.ajax({
				type: 'post',
				contentType: 'application/json;charset=UTF-8',
				url: '/user/connectUs',
				data: connectUs,
				success: function (result) {
					layer.msg(result);
				},
				error: function (e) {
					console.log(e.status);
					console.log(e.responseText);
				}
			});
			return false;
		});
		// 升级协议，连接websocket
		function conectWebSocket() {
			var nickname = null;
			var nickId = null;
			nickname = [[${session.userName}]];
			nickId = [[${session.userId}]];

			if (nickname === "" || nickname == null) {
				var i = Math.floor(Math.random() * 369);
				layer.msg('当前为游客模式ID');
				nickname = '游客';
				nickId = 'Y00' + i;
			}
			message.fromUser = nickId;
			//判断当前浏览器是否支持WebSocket
			if ('WebSocket' in window) {
				layer.msg('开始聊天！');
				websocket = new WebSocket("ws://localhost:8084/websocket/" + nickId + "/" + nickname);
			} else {
				layer.msg('Not support websocket！');
			}
			//连接发生错误的回调方法
			websocket.onerror = function () {
				getServiceText("error");
			};
			//连接成功建立的回调方法
			websocket.onopen = function (event) {
				getServiceText(nickname + '您好，私人牙医欢迎您前来咨询！');
			}
			//接收到消息的回调方法
			websocket.onmessage = function (event) {
				var msg = event.data;
				if(msg == 666 || msg.indexOf('666') != -1){
					message.type = 0;
					message.toUser = '';
					getServiceText('系统提示：当前医生已离线，请重新发送消息！');
				}else {
					var mess = msg.split(">");
					var obj = eval("("+mess[1]+")");
					if(obj.fromUser != null && obj.fromUser != ''){
						if(message.toUser == '' || message.toUser == obj.fromUser){
							message.toUser = obj.fromUser;
							message.type = 1;
							getServiceText(mess[0]+':'+obj.msg);
						}else if(message.toUser != obj.fromUser) {
							var socketM = {type:1,toUser:'',fromUser:'',msg:''};
							socketM.fromUser = message.fromUser;
							socketM.toUser = obj.fromUser;
							socketM.msg = '系统提示：' + nickname + '正在与 ' + message.toUser + '聊天！';
							websocket.send(JSON.stringify(socketM));
						}
					}
				}
			}
			//连接关闭的回调方法
			websocket.onclose = function () {
				layer.msg('感谢您的咨询！');
			}
			//监听窗口关闭事件，当窗口关闭时，主动去关闭websocket连接，防止连接还没断开就关闭窗口，server端会抛异常。
			window.onbeforeunload = function () {
				websocket.close();
			}
		}

		//关闭连接
		function closeWebSocket() {
			websocket.close();
			websocket = null;
		}

		function getServiceText(data) {
			var serviceText = data;
			var nodeP = doc.createElement('p'),
					nodeSpan = doc.createElement('span');
			if(data.indexOf('系统消息') != -1){
				nodeP.classList.add('dialogue-sys-contain');
				nodeSpan.classList.add('sys-text');
			}else {
				nodeP.classList.add('dialogue-service-contain');
				nodeSpan.classList.add('dialogue-text', 'dialogue-service-text');
			}
			nodeSpan.innerHTML = serviceText;
			nodeP.appendChild(nodeSpan);
			dialogueContain.appendChild(nodeP);
			dialogueContain.scrollTop = dialogueContain.scrollHeight;
		}

		// 渐隐
		function fadeOut(obj) {
			var n = 100;
			var time = setInterval(function() {
				if (n > 0) {
					n -= 10;
					obj.style.opacity = '0.' + n;
				} else if (n <= 30) {
					obj.style.opacity = '0';
					clearInterval(time);
				}
			}, 10);
			return true;
		}

		// 渐显
		function fadeIn(obj) {
			var n = 30;
			var time = setInterval(function() {
				if (n < 90) {
					n += 10;
					obj.style.opacity = '0.' + n;
				} else if (n >= 80) {

					obj.style.opacity = '1';
					clearInterval(time);
				}
			}, 100);
			return true;
		}
	</script>
</body>
</html>
