/* 公共样式 */
* {
    margin: 0;
    padding: 0;
}

ul li {
    list-style: none;
}

a {
    text-decoration: none;
}

body {
	background-color: #f1f1f1;
    font: 12px/1.5 'Microsoft YaHei', 'Heiti SC', tahoma, arial, 'Hiragino Sans GB', \\5B8B\4F53, sans-serif;
}
.a-left{
	float: left;
}
.a-right{
	float: right;
}
/* header */

.head {
    height: 93.75px;
    padding: 0 40px;
    position: relative;
    border-bottom: 1px solid #efefef;
	background-color: white;
}

.head-logo {
    float: left;
    width: 247.2px;
    padding: 10px 0;
}

.head-logo img {
    width: 186px;
}

.head-nav {
    float: left;
    width: 1000px;
    height: 93.75px;
}

.head-nav ul {
    height: 35px;
    margin-top: 30px;
    padding: 0 50px;
}

.head-nav ul li a {
    float: left;
    padding: 6px 0 7px;
    margin-left: 50px;
    font-size: 14px;
    word-spacing: normal;
    color: #666666;
    font-family: "微软雅黑", Helvetica, Arial, Verdana, sans-serif;
    font-style: normal;
    font-weight: normal;
}

.head-num {
    float: left;
    width: 192px;
    margin-top: 25px;
    position: relative;
}

.head-num img {
    margin-top: 13px;
    width: 20px;
    height: 20px;
}

.head-num span {
    position: absolute;
    left: 35px;
    top: 10px;
    font-family: arial;
    font-size: 18px;
    color: #2096ee;
}
/* 身体部分 */
.cus-body{
	overflow: hidden;
}
.cus-body .head-p{
	height: 120px;
}
.cus-body .head-p .title{
	margin: 0 auto;
	width: 104px;
}
.cus-body .head-p .title p{
	margin-top: 51px;
	float: left;
	font-family: 微软雅黑;
	font-size: 26px;
	font-weight: normal;
	font-style: normal;
	color: #191919;
	display: block;
	padding: 0 0 10px 0;
}
.cus-body .head-p .title span{
	margin-left: 33px;
	font-family: Raleway;
	font-size: 12px;
	font-weight: normal;
	font-style: normal;
	color: #999999;
	display: block;
	padding: 2px;
}
/* 医生展示模块 */
.cus-body .content{
	width: 1024px;
	margin: 0 auto;
	/* background-color: #00F7DE; */
	overflow: hidden;
}
.cus-body .content .detail{
	float: left;
	width: 226px;
	height: 346px;
	margin: 15px 15px 15px 15px;
	background-color: white;
}
.cus-body .content .detail .photo{
	/* 让图片超出部分不显示 */
	overflow: hidden;
	width: 100%;
	height: 226px;
}
.cus-body .content .detail .photo img{
	display: block;
	width: 100%;
	height: auto;
}
.cus-body .content .detail .des{
	width: 100%;
	position: relative;
	text-align: center;
	/* background-color: white; */
}
.cus-body .content .detail .des p{
	font-size: 15px;
	font-family: 微软雅黑;
	font-weight: normal;
	padding-bottom: 8px;
	/* background-color: white; */
}
.cus-body .content .detail .des span{
	color: #606060;
}

