<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Medicine List</title>
    <link rel="stylesheet" href="/layui/css/layui.css" />
</head>
<body>
<div class="demoTable layui-form-item layui-form" style="margin: 20px 0 0 20px">
    搜索ID：
    <div class="layui-inline">
        <input class="layui-input" name="id" id="selectById" autocomplete="off">
    </div>
    <button class="layui-btn" id="IDss">搜索</button>
    <span style="margin: 0 0 0 20px">搜索药名：</span>
    <div class="layui-inline">
        <input class="layui-input" name="id" id="selectByName" autocomplete="off">
    </div>
    <button class="layui-btn" id="Namess">搜索</button>

        <label class="layui-form-label">所需药品:</label>
        <div class="layui-input-inline">
            <select lay-filter="medType">
                <option value=""></option>
                <option value="S">手术专用</option>
                <option value="C1">内服</option>
                <option value="C2">外用</option>
                <option value="B1">保健品</option>
            </select>
        </div>

</div>
<div class="demoTable" style="margin: 10px 0 0 0px">
    <table class="layui-hide" id="MedList" lay-filter="MedList"></table>
</div>
<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-warm layui-btn-xs" lay-event="batch">批次</a>
    <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="goto">详情</a>
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>
<script src="/layui/layui.js"></script>
<script th:inline="javascript">
    layui.use(['table','layer','form'], function(){
        var form = layui.form;
        var table = layui.table;
        var layer = layui.layer;
        var $ = layui.jquery;
        table.render({
            elem: '#MedList'   //渲染目标
            ,url:'/med/findAll'  // 路径默认从static下开始，而且是绝对路径，数据接口;非前后端分离可以直接写Handler中的接口名，不必写：http://localhost:8082
            ,title: '用户数据表' //数据导出标题
            ,id: 'medmList'
            ,page: true    //是否开启分页功能
            ,cols: [
                [
                    { field: 'medicineId', title: '药品编号', width: 150, fixed: 'left', unresize: true, sort: true }
                    , { field: 'medName', title: '药品名称', width: 180}
                    , { field: 'medType', title: '药品类型', width: 150}
                    , { field: 'majorFunction', title: '功能主治', width: 280}
                    , { field: 'store', title: '贮藏', width: 100}
                    , { field: 'medMCount', title: '批次' }
                    , { field: 'medNum', title: '库存总量', width: 100}
                    , { field: 'medTime', title: '库存记录日期', width:140}
                    , { fixed: 'right', title: '操作', toolbar: '#barDemo', width: 210 }
                ]
            ]
            ,done: function (res) {
                $("[data-field = 'medType']").children().each(function () {
//                console.log($(this).text())
                    if($.trim($(this).text()) == 'C1'){
                        $(this).text('处方内服');
                    }else if ($.trim($(this).text()) == 'C2'){
                        $(this).text('处方外用');
                    }else if ($.trim($(this).text()) == 'S'){
                        $(this).text('手术专用');
                    }else if ($.trim($(this).text()) == 'B1'){
                        $(this).text('保健品');
                    }
                });
            }
        });

        var medType = 'S';
        form.on('select(medType)',function(data){
            medType = data.value;
            console.log(medType);
            table.reload('medmList',{
                url: '/med/findByType?medType='+medType,
                method: 'get'
            });
        });

        //监听行工具事件
        table.on('tool(MedList)', function(obj){
            //obj.data包含该行表格的所有数据（是个对象）
            var data = obj.data;
            //console.log(obj)
            if(obj.event === 'del'){
                layer.confirm('真的删除行么', function(index){
                    obj.del();
                    //index 为选中的行数，一般为1
                    layer.close(index);
                });
            } else if(obj.event === 'edit'){
                layer.open({
                    id: 'save-form',
                    title: '编辑用户',
                    type: 2,    //layer提供了5种层类型。可传入的值有：0（信息框，默认）1（页面层）2（iframe层）3（加载层）4（tips层）
                    content: '/med/toMedEdit?medicineId='+data.medicineId,
                    area: ['800px', '560px'],
                    btn: ['提交','重置'],
                    yes: function (index) {
                        var frameId=document.getElementById('save-form').getElementsByTagName("iframe")[0].id;
                        $('#'+frameId)[0].contentWindow.mySubmit();
                    },
                    //重置按钮事件
                    btn2: function(){
                        var frameId=document.getElementById('save-form').getElementsByTagName("iframe")[0].id;
                        $('#'+frameId)[0].contentWindow.reset();
                        return false;
                    },
                    //右上角关闭按钮事件
                    cancel: function(index, layero){
                        layer.close(index);
                        return false;
                    }
                })
            } else if (obj.event === 'batch'){
                layer.open({
                    id: 'medmAdd-form',
                    title: '药品批次添加',
                    type: 2,    //layer提供了5种层类型。可传入的值有：0（信息框，默认）1（页面层）2（iframe层）3（加载层）4（tips层）
                    content: '/medm/toAdd?medicineId='+data.medicineId+'&medName='+data.medName,
                    area: ['900px', '560px'],
                    btn: ['提交','重置'],
                    // 弹出层 提交按钮事件
                    yes: function (index) {
                        var frameId=document.getElementById('medmAdd-form').getElementsByTagName("iframe")[0].id;
                        //获取子页面对象：$('#'+frameId)[0].contentWindow
                        var result = $('#'+frameId)[0].contentWindow.mySubmit();
                        console.log(result);
                        // 延迟刷新，等待表单提交
                        if(result){
                            // layer.close(index);
                            // location.reload();
                        }
                    },
                    //弹出层 重置表单按钮事件
                    btn2: function(index, layero){
                        var frameId=document.getElementById('medmAdd-form').getElementsByTagName("iframe")[0].id;
                        $('#'+frameId)[0].contentWindow.reset();
                        return false;
                    },
                    //弹出层 右上角关闭按钮事件
                    cancel: function(index, layero){
                        location.reload();
                        layer.close(index);
                        return false;
                    }
                });
            } else if (obj.event === 'goto'){
                layer.open({
                    title: '病例详情',
                    type: 2,    //layer提供了5种层类型。可传入的值有：0（信息框，默认）1（页面层）2（iframe层）3（加载层）4（tips层）
                    content: '/med/toMedInfo?medicineId='+data.medicineId,
                    area: ['900px', '560px'],
                    //弹出层 右上角关闭按钮事件
                    cancel: function(index){
                        layer.close(index);
                        return false;
                    }
                })
            }
        });
        // ID搜索按钮触发事件
        $('#IDss').click(function () {
            var medicineId = $('#selectById').val();
            // console.log(customerId);
            table.reload('medmList',{
                url: '/med/adminFindById?medicineId='+medicineId,
                method: 'get'
            });
        });
        // Name搜索按钮触发事件
        $('#Namess').click(function () {
            var medName = $('#selectByName').val();
            // console.log(customerName);
            table.reload('medmList',{
                url: '/med/adminFindByName?medName='+medName,
                method: 'get'
            });
        });
    });
</script>
</body>
</html>