<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>文章列表</title>
    <link rel="stylesheet" href="/layui/css/layui.css">
</head>

<body>
<div class="demoTable" style="margin: 20px 0 0 20px">
    搜索ID：
    <div class="layui-inline">
        <input class="layui-input" name="id" id="selectById" autocomplete="off">
    </div>
    <button class="layui-btn" id="IDss">搜索</button>
    <span style="margin: 0 0 0 20px">搜索标题：</span>
    <div class="layui-inline">
        <input class="layui-input" name="id" id="selectByName" autocomplete="off">
    </div>
    <button class="layui-btn" id="Namess">搜索</button>
</div>
<div style="margin: 10px auto 0;width: 99%;">
    <table class="layui-hide" id="newsTable" lay-filter="newsTable"></table>
</div>
<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="change">发布</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>
<script src="/layui/layui.js"></script>
<script>
    layui.use(['table'], function () {
        var table = layui.table;
        var $ = layui.jquery;
        table.render({
            elem: '#newsTable'
            , url: '/news/getList'
            , id: 'newsTableReload'
            , title: '文章数据表'
            , cols: [
                [
                { field: 'newsId', title: '文章编号', width: 180, fixed: 'left', unresize: true, sort: true }
                , { field: 'headLine', title: '文章名', width: 270 }
                , { field: 'newsLabel', title: '标签', width: 190 }
                , { field: 'author', title: '发布人', width: 190 }
                , { field: 'newsTime', title: '发布时间', width: 180 }
                , { field: 'status', title: '发布状态', width: 130 }
                , { fixed: 'right', title: '操作', toolbar: '#barDemo', width: 160 }
                ]
            ]
            , page: true
        });

        // ID搜索按钮触发事件
        $('#IDss').click(function () {
            var newsId = $('#selectById').val();
            // console.log(customerId);
            table.reload('newsTableReload',{
                url: '/news/adminFindById?newsId='+newsId,
                method: 'get'
            });
        });

        // 标题搜索按钮触发事件
        $('#Namess').click(function () {
            var headLine = $('#selectByName').val();
            // console.log(customerName);
            table.reload('newsTableReload',{
                url: '/news/adminFindByHead?headLine='+headLine,
                method: 'get'
            });
        });

        //监听行工具事件
        table.on('tool(newsTable)', function (obj) {
            var data = obj.data;
            //console.log(obj)
            if (obj.event === 'del') {
                layer.confirm('真的删除行么', function (index) {
                    obj.del();
                    $.ajax({
                        type: 'get',
                        url: '/news/deleteById?newsId='+data.newsId,
                        success: function (result) {
                            console.log('新闻删除结果：' + result);
                        },
                        error: function (e) {
                            console.log('error代码' + e.status);
                            console.log('error内容' + e.responseText);
                        }
                    });
                    layer.close(index);
                    location.reload();
                });
            } else if (obj.event === 'change') {
                layer.confirm('文章即将发布', function (index) {
                    data.status = 1;
                    $.ajax({
                        type: 'post',
                        contentType: 'application/json;charset=UTF-8',
                        url: '/news/updateNews',
                        data: JSON.stringify(data),
                        success: function (result) {
                            layer.msg('修改结果：' + result);
                        },
                        error: function (e) {
                            console.log(e.status);
                            console.log(e.responseText);
                        }
                    });
                    layer.close(index);
                    location.reload();
                });
            }else if (obj.event === 'edit') {
                layer.open({
                    id: 'detail-panel',
                    title: '病例详情',
                    type: 2,    //layer提供了5种层类型。可传入的值有：0（信息框，默认）1（页面层）2（iframe层）3（加载层）4（tips层）
                    content: '/news/toEditNews?newsId='+data.newsId,
                    area: ['900px', '560px'],
                    //弹出层 右上角关闭按钮事件
                    cancel: function(index, layero){
                        layer.close(index);
                        location.reload();
                        return false;
                    }
                });
            }
        });
    });
</script>
</body>

</html>