<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8">
		<title>医生列表</title>
		<link rel="stylesheet" href="/css/cus_doclist.css">
	</head>
	<body>
		<!-- header开始 -->
		<div class="head">
			<div class="head-logo">
				<a href="/login/userLogin">
					<img src="/img/logo.webp" alt="">
				</a>
			</div>
			<div class="head-nav">
				<ul class="aha">
					<li><a href="/user/toCusWel">首页 HOME</a></li>
					<li><a href="#">医生介绍 TEAM</a></li>
					<li><a href="/user/toNewsList">新闻资讯 NEWS</a></li>
					<li><a href="/user/toCusWel#about">关于我们 ABOU</a></li>
					<li><a href="/user/toCusWel#contact">联系我们 CONTACT</a></li>
				</ul>
			</div>
			<div class="head-num">
				<img src="/img/phone.png" alt="">
				<span>400-8888-8888</span>
			</div>
		</div>
		<!-- 身体部分 -->
		<div class="cus-body">
			<!-- 顶部横条 -->
			<div class="head-p">
				<!-- 中间文字部分 -->
				<div class="title">
					<!-- 大字 -->
					<p>医生介绍</p>
					<!-- 小字 -->
					<span>TEAM</span>
				</div>
			</div>
			<!-- 医生列表部分 -->
			<div class="content">
				<!-- 每个医生模块 -->
				<div class="detail" th:each="doc:${docList}">
					<!-- 照片 -->
					<div class="photo">
<!--						<img src="/img/doc/1.bmp" alt="医生照片" th:onclick="docDetail([[${doc.getDocId()}]]);">-->
						<img th:src="${doc.getCid()}" alt="医生照片" th:onclick="docDetail([[${doc.getDocId()}]]);">
					</div>
					<!-- 文字描述块 -->
					<div class="des">
						<!-- 名字 -->
						<p th:text="${doc.getDocName()}">王富贵</p>
						<!-- 职务 -->
						<span th:text="${doc.getDocTitle()}">主治医师</span>
					</div>
				</div>
			</div>
		</div>
		<script src="/layui/layui.all.js"></script>
		<script type="text/javascript" th:inline="javascript">
			function docDetail(docId) {
				layer.open({
					id: 'detail-doc',
					title: '医生信息',
					type: 2,    //layer提供了5种层类型。可传入的值有：0（信息框，默认）1（页面层）2（iframe层）3（加载层）4（tips层）
					content: '/user/toDocInfo?docId='+docId,
					area: ['540px', '336px'],
					//弹出层 右上角关闭按钮事件
					cancel: function(index, layero){
						layer.close(index);
						// location.reload();
						return false;
					}
				});
			}
		</script>
	</body>
</html>
