<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>用户新闻界面</title>
    <link rel="stylesheet" href="/css/cus_news.css">
</head>
<body>
    <!-- header开始 -->
    <div class="head">
        <div class="head-logo">
            <a href="/login/userLogin">
                <img src="/img/logo.webp" alt="">
            </a>
        </div>
        <div class="head-nav">
            <ul class="aha">
                <li><a href="/user/toCusWel">首页 HOME</a></li>
                <li><a href="/user/toDocList">医生介绍 TEAM</a></li>
                <li><a href="/user/toNewsList">新闻资讯 NEWS</a></li>
                <li><a href="/user/toCusWel#about">关于我们 ABOU</a></li>
                <li><a href="/user/toCusWel#contact">联系我们 CONTACT</a></li>
            </ul>
        </div>
        <div class="head-num">
            <img src="/img/phone.png" alt="">
            <span>400-8888-8888</span>
        </div>
    </div>
    <!-- 新闻部分 -->
    <div class="news-body">
        <div class="news-body1">
            <div class="news-left">
                <div class="news-title">
                    <p th:text="${news.getHeadLine()}">楼市5月不红成交遇冷购房者观望房价下半年或松动对地产股影响如何？</p>
                </div>
                <div class="news-author">
                    <p>发布日期：<i th:text="${news.getNewsTime()}"></i></p>
                </div>
                <div class="news-img">
                    <img src="/img/news/news_pic1.webp" alt="">
                </div>
                <div class="news-content">
                    <p th:text="${news.getContent()}">距离最严调控启动已有两个半月时间，在调控影响下，本应是购房黄金期的端午小长假却继续降温，
                        广州小长假前两天成交量不足5月日均成交量的一半；昆山成交前两天为零，最后一天也仅为89套；
                        淮安成交跌破百套，显得颇为冷清。这是全国楼市的缩影。 一、房地产关注要点 目前房地产市场
                        最大的问题在热点城市，尤其是一线城市库存低房价高，三四线城市和县城镇则存在较大的去库存
                        压力。 中原地产首席分析师认为，整体看，北京等一二线城市在3月调控后，数据逐渐开始反映出
                        调控影响，网签成交量持续走低，“红五月”成交全面滑坡，市场开始进入调整周期。一线城市同比
                        下调幅度达到了37%，二线城市下调幅度接近30%。 不少购房人暂缓购房脚步，观望情绪较为浓厚。
                        统计显示，端午节三天房贷市场咨询量同比去年下降近三成。 相对于成交量下滑明显，由于购房
                        热情仍在，价格仍处于僵持状态，甚至部分地区存在上涨之势。但是，受制于限购、限贷政策持续
                        发力，叠加严控供应，多数城市成交持续低迷。在调控延长、房企回收资金的压力下，房价下半年
                        或许会有松动。 近期香港内地房地产股在中国恒大大涨带动下，纷纷上涨，进而带动A股地产股最
                        近走强。行情能否持续？是否值得参与？ A股地产股受近两年房价大涨推动，业绩靓丽，加上险资
                        举牌，雄安等区域政策刺激，及港股地产股带动等，走势强劲。</p>
                </div>
                <div class="news-others"></div>
            </div>
            <div class="news-right">
                <div class="news-model" th:each="other:${others}">
                    <a th:href="@{'/user/toNews?newsId='+${other.getNewsId()}}">
                        <p th:text="${other.getHeadLine()}">上海房地产企业资产规模增速放缓</p>
                    </a>
                    <span>发布日期：<i th:text="${other.getNewsTime()}"></i></span>
                </div>
            </div>
        </div>
    </div>
</body>
</html>