<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>病例详情</title>
    <link rel="stylesheet" href="/layui/css/layui.css">
    <style>
        .layui-card-body div {
            margin: 0 80px 10px 20px;
            float: left;
        }

        .layui-card-body div span {
            float: left;
        }

        .layui-card-body div p {
            float: left;
        }

        #bingli div {
            float: none;
            overflow: hidden;
        }

        .layui-colla-content div {
            margin: 0 80px 10px 20px;
            float: left;
        }

        .layui-colla-content div span {
            float: left;
        }
    </style>
</head>

<body>
<fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
    <legend>私人牙医——牙科诊所管理系统——病例详情</legend>
</fieldset>
<div class="layui-collapse" lay-filter="test">
    <div class="layui-colla-item">
        <h2 class="layui-colla-title">病人基本信息</h2>
        <div class="layui-colla-content" style="overflow: hidden;">
            <div>
                <span>姓名：</span><span th:text="${caseInfos.getCustomer().getCustomerName()}">张三</span>
            </div>
            <div>
                <span>性别：</span><span th:text="${caseInfos.getCustomer().getSex()}">男</span>
            </div>
            <div>
                <span>出生日期：</span><span th:text="${caseInfos.getCustomer().getCid()}">19951207</span>
            </div>
            <div>
                <span>职业：</span><span th:text="${caseInfos.getCustomer().getJob()}">网络工程师</span>
            </div>
            <div>
                <span>联系电话：</span><span th:text="${caseInfos.getCustomer().getPhone()}">15845789654</span>
            </div>
            <div>
                <span>紧急联系人：</span><span th:text="${caseInfos.getCustomer().getEcName()}">王富贵</span>
            </div>
            <div>
                <span>紧急联系方式：</span><span th:text="${caseInfos.getCustomer().getEcPhone()}">18578945861</span>
            </div>
            <div>
                <span>地址：</span><span th:text="${caseInfos.getCustomer().getAddress()}">山西省太原市尖草坪区</span>
            </div>
        </div>
    </div>
    <div class="layui-colla-item">
        <h2 class="layui-colla-title">病人健康状况</h2>
        <div class="layui-colla-content" style="overflow: hidden;">
            <div>
                <span>是否长期服用某种药物：</span><span th:text="${caseInfos.getCustomer().getAttribute1()}">盘尼西林</span>
            </div>
            <div>
                <span>患者是否怀孕：</span><span th:text="${caseInfos.getCustomer().getAttribute2()}">是</span>
            </div>
            <div>
                <span>过敏史：</span><span th:text="${caseInfos.getCustomer().getAllergy()}">过敏史，是对某些过敏原过敏的病史，能够为医生的诊断提供参考。能引起过敏症的物质数以千计，它们存在的空气、食物、饮料、药物、甚至可接触到的日用品中，而这些物质便叫做“过敏原”。</span>
            </div>
            <div>
                <span>系统性疾病：</span><span th:text="${caseInfos.getCustomer().getSystemicDis()}">过敏史，是对某些过敏原过敏的病史，能够为医生的诊断提供参考。能引起过敏症的物质数以千计，它们存在的空气、食物、饮料、药物、甚至可接触到的日用品中，而这些物质便叫做“过敏原”。</span>
            </div>
        </div>
    </div>
</div>

<div style="padding: 20px; background-color: #F2F2F2;">
    <div id="bod" class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-header">病例信息</div>
                <div id="bingli" class="layui-card-body" style="overflow: hidden;">
                    <div>
                        <span>病例编号：</span>
                        <p th:text="${caseInfos.getCaseInfo().getCaseId()}">华佗</p>
                    </div>
                    <div>
                        <span>诊断医生：</span>
                        <p th:text="${caseInfos.getDoctor().getDocName()}">华佗</p>
                    </div>
                    <div>
                        <span>主诉症状：</span>
                        <p th:text="${caseInfos.getCaseInfo().getSelfReported()}">
                            刷牙出血半年。患者近半年，刷牙及咀嚼食物时牙龈出血，含漱可止血，现要求诊治。</p>
                    </div>
                    <div>
                        <span>既往史：</span>
                        <p th:text="${caseInfos.getCaseInfo().getPastHistory()}">
                            患者自述无高血压、心脏病、糖尿病病史，无肝炎及结核等传染病史及其密切接触史。无重大外伤及手术史。无药物食物过敏史，无输血史，预防接种随当地，余系统回顾未见明显异常。</p>
                    </div>
                    <div>
                        <span>诊断：</span>
                        <p th:text="${caseInfos.getCaseInfo().getDiagnose()}">慢性牙龈炎</p>
                    </div>
                    <div>
                        <span>鉴别诊断：</span>
                        <p th:text="${caseInfos.getCaseInfo().getDiffDiagnosis()}">
                            1，早期牙周炎，有牙周袋，牙槽骨吸收；\r\n2，血液病，应与全身性疾病鉴别如白血病，血小板减少性紫癜等；\r\n3，坏死性龈炎，虽以牙龈出血为主要症状，但其牙龈边缘坏死如虫蚀状，坏死区出现灰褐色假膜，伴有疼痛和特殊的腐败臭味；\r\n4，爱滋病相关的龈炎。</p>
                    </div>
                    <div>
                        <span>治疗计划：</span>
                        <p th:text="${caseInfos.getCaseInfo().getTreatmentPlan()}">
                            洁治术\r\n处置方法：\r\n口腔卫生宣教，指导刷牙方式及牙线使用。已向患者交代清楚患牙情况及费用，患者知情同意后，全口龈上洁治，喷砂，抛光，上药。</p>
                    </div>
                    <div>
                        <span>医嘱：</span>
                        <p th:text="${caseInfos.getCaseInfo().getAdvice()}">卫生维护，定期复诊，不适随诊。</p>
                    </div>
                    <div>
                        <span>复诊时间：</span>
                        <p th:text="${caseInfos.getCaseInfo().getRecheckTime()}">2020-02-05</p>
                    </div>
                    <div>
                        <span>治疗结果：</span>
                        <p th:text="${caseInfos.getCaseInfo().getTrResult()}">9.5</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="revisit" style="display: none">
    <div th:each="re:${reVisit}" class="layui-col-md12">
        <div class="layui-card">
            <div class="layui-card-header">
                <span th:text="${re.getCaseInfo().getDiagnoseTime()}" style="display: block;float: left"></span>复诊信息
                <a class="layui-icon" style="display: block;float: right" name="123" onclick="del(this)">&#x1006;</a>
            </div>
            <div class="layui-card-body" style="overflow: hidden">
                <div>
                    <span>诊断医生：</span>
                    <p th:text="${re.getDoctor().getDocName()}">华佗</p>
                </div>
                <div>
                    <span>主诉症状：</span>
                    <p th:text="${re.getCaseInfo().getSelfReported()}">刷牙出血半年。患者近半年，刷牙及咀嚼食物时牙龈出血，含漱可止血，现要求诊治。</p>
                </div>
                <div>
                    <span>鉴别诊断：</span>
                    <p th:text="${re.getCaseInfo().getDiffDiagnosis()}">
                        1，早期牙周炎，有牙周袋，牙槽骨吸收；\r\n2，血液病，应与全身性疾病鉴别如白血病，血小板减少性紫癜等；\r\n3，坏死性龈炎，虽以牙龈出血为主要症状，但其牙龈边缘坏死如虫蚀状，坏死区出现灰褐色假膜，伴有疼痛和特殊的腐败臭味；\r\n4，爱滋病相关的龈炎。</p>
                </div>
                <div>
                    <span>治疗计划：</span>
                    <p th:text="${re.getCaseInfo().getTreatmentPlan()}">洁治术\r\n处置方法：\r\n口腔卫生宣教，指导刷牙方式及牙线使用。已向患者交代清楚患牙情况及费用，患者知情同意后，全口龈上洁治，喷砂，抛光，上药。</p>
                </div>
                <div>
                    <span>医嘱：</span>
                    <p th:text="${re.getCaseInfo().getAdvice()}">卫生维护，定期复诊，不适随诊。</p>
                </div>
                <div>
                    <span>复诊时间：</span>
                    <p th:text="${re.getCaseInfo().getRecheckTime()}">2020-02-05</p>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/layui/layui.all.js"></script>
<script th:inline="javascript">
    var $ = layui.jquery;
    function addCase() {
        var reVisit = [[${reVisit}]];
        console.log(reVisit);
        if(reVisit !== undefined && reVisit != null){
            var ss = document.getElementById('revisit').innerHTML;
            var sss = document.getElementById('bod').innerHTML;
            document.getElementById('bod').innerHTML = sss + ss;
            console.log('addCase方法');
        }
    }

    // 删除复诊信息方法
    function del(element) {
        var caseId = [[${caseInfos.getCaseInfo().getCaseId()}]];
        var customerId = [[${caseInfos.getCaseInfo().getCustomerId()}]];
        // 获取复诊主键
        var id = element.parentNode.children[0].innerText;
        layer.confirm('即将删除该病例及相关复诊信息，真的删除么', function(index){
            $.ajax({
                type: 'get',
                url: '/case/delCase?caseId='+caseId+'&customerId='+customerId+'&diagnoseTime='+id ,
                success: function (result) {
                    if(result == '1'){
                        layer.msg("成功删除复诊记录！");//输入相应的内容
                    }else {
                        layer.msg("删除失败！");
                    }
                    setTimeout(function (){
                        window.location.reload();
                    }, 2000);
                },
                error: function (e) {
                    console.log('error代码' + e.status);
                    console.log('error内容' + e.responseText);
                }
            });
            layer.close(index);
        });
        /*var ajax = '';
        // 处理兼容性问题
        if(window.XMLHttpRequest){
            ajax = new XMLHttpRequest();
        }else if(window.ActiveXObject){
            ajax = new ActiveXObject();
        }
        ajax.open('get', '/case/delCase?caseId='+caseId+'&customerId='+customerId+'&diagnoseTime='+id);
        ajax.send();
        ajax.onreadystatechange = function () {
            if (ajax.readyState==4 &&ajax.status==200) {
                //步骤五 如果能够进到这个判断 说明 数据 完美的回来了,并且请求的页面是存在的
                if(ajax.responseText === '1'){
                    layer.msg("成功删除复诊记录！");//输入相应的内容
                }else {
                    layer.msg("删除失败！");
                }
                setTimeout(function (){
                    window.location.reload();
                }, 2000);
            }
        }*/
    }
    addCase();

    layui.use(['element', 'layer'], function () {
        var element = layui.element;
        var layer = layui.layer;
        var $ = layui.jquery;

        //监听折叠
        element.on('collapse(test)', function (data) {
            layer.msg('展开状态：' + data.show);
        });
    });
</script>
</body>
</html>